<p id="notice"><%= notice %></p>

<h1>Products</h1><%= link_to 'New Product', new_product_path %>
<div class="row">
  <% @products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
</div>
